.play-button {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  transition: .5s;
  margin-top: -50px;
}

.play-button:hover {
  background-size: 100%100%;
  color: #fff;
}
.play-button:hover > .play-button__img_type-ticket{
  background-image: url(../../../img/icon_arrow-right_white.svg);
}

.play-button:hover > .play-button__img_type-project{
  background-image: url(../../../img/arrow-left-white.svg);
}

.play-button:active {
  transform: scale(1.2);
}

