.footer__partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  list-style-type: none;
  margin-left: -31px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
