.footer__partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  list-style-type: none;
  margin-left: -31px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  .footer__partners {
    order: 2;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    margin: 0 500px 62px 82px;
  }
  .footer__partners::before {
    content: "Генеральные партнеры";
    max-width: 145px;
    text-align: left;
  }
}
