.reviews__card {
  list-style: none;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 55px 89px 72px 89px;
  transition: all 0.5s ease-in-out;
}


@media all and (max-width: 668px) {
  .reviews__card {
    padding: 77px 27px 72px 27px;
    text-align: justify;
  }
}

@media all and (max-width: 593px) {
  .reviews__card {
    padding: 109px 27px 72px 27px;
    text-align: justify;
    position: relative;
  }
}
