.slider__item {
  background: #fff;
  padding: 72px 27px 100px;
  visibility: hidden;
  width: 100%;
  /* display: none; */
  position: absolute;
  box-sizing: border-box;
  /* -webkit-transition:all 1.5s ease-in 0s;
	-moz-transition: all 1.5s ease-in 0s;
	-o-transition: all 1.5s ease-in 0s; */
	/* transition: position 1.5s ease-in 0s; */
  /* margin-right: 15px;
  margin-left: 15px; */
  opacity: 0;
  /* left: 400px */
}

@media screen and (min-width: 830px) {
  .slider__item {
    padding-top: 33px;
    padding-bottom: 24px;
    max-width: 400px;
  }
}

@media screen and (min-width: 1320px) {
  .slider__item {
    max-width: 420px;
  }
}
