.slider__item {
  background: #fff;
  padding: 72px 27px 100px;
  visibility: hidden;
  width: 100%;
  display: none;
  box-sizing: border-box;
}

@media screen and (min-width: 910px) {
  .slider__item {
    padding-top: 33px;
    padding-bottom: 24px;
    min-width: 400px;
    max-width: 420px;
  }
}
