.play__about {
  margin:16px auto 0 40px;
  margin-left: 7.5%;
  max-width: 304px;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  font-family: 'Neue Machina';
}

@media screen and (min-width: 768px) {
  .play__about {
    grid-area: play__about;
    margin-top: 37px;
    margin-left: 180px;
    margin-right: 10%;
    max-width: 418px;
    font-size: 20px;
    line-height: 24px;
  }
}
