.footer__info {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .footer__info {
    order: 6;
    width: 100%
  }
}