.header__link-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 56px;
  background-color: var(--black);
  transition: width 0.7s ease-out;
}

@media screen and (min-width: 1440px) {
  .header__link-bg {
    height: 39px;
  }
}
