.footer__company-name {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 18.29px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .footer__company-name {
    display: none;
  }
}
