.slider__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
  padding-right: 24px;
  padding-left: 30px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .slider__buttons {
    order: 3;
  }
}
