.slider__content {
  /* background: #fff; */
  overflow: hidden;
  position: relative;
  bottom: 46px;
}

@media screen and (min-width: 768px) {
  .slider__content {
    position: static;
    bottom: auto;
  }
}


