.play-button_type-ticket {
    margin: 16px auto 0 40px;
    margin-left: 7.5%;
    padding: 16px 20px 16px 16px;
    width: 240px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #242424;
    line-height: 22px;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .play-button_type-ticket {
    grid-area: play-button_type-ticket;
    margin-top: 16px;
    margin-left: 120px;
  }
}
