.burger_close .burger__line {
  background-color: transparent;
}

.burger_close .burger__line::before {
  width: 22px;
  transform: rotate(45deg);
  top: 0;
}

.burger_close .burger__line::after {
  width: 22px;
  transform: rotate(-45deg);
  top: 0;
}
