.play__image {
    padding: 0;
    margin: 38px auto 0 auto;
    width: 100%;
}

@media (min-width: 321px) and (max-width: 720px) {
  .play__image {
    max-width: 720px;
  }
}

@media (min-width: 321px) and (max-width: 1440px) {
  .play__image {
    grid-area: play__image;
  }
}
