.footer__address-place {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
  text-decoration: none;
  color: #242424;
}
.footer__address-place:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .footer__address-place {
    font-size: 14px;
    line-height: 17px;
    opacity: 1;
  }
}
