.header__menu-link_active {
  position: relative;
}

.header__menu-link_active::before,
.header__menu-link_active::after {
  content: "";
  width: 16px;
  height: 41px;
  position: absolute;
  background-size: 16px 41px;
  background-position: center;
  background-repeat: no-repeat;
}

.header__menu-link_active::before {
  top: 5px;
  left: -16px;
  background-image: url(../../../../img/icon_ellipse-left.svg);
}

.header__menu-link_active::after {
  top: 5px;
  right: -16px;
  background-image: url(../../../../img/icon_ellipse-right.svg);
}

@media screen and (min-width: 1440px) {
  .header__menu-link_active::before,
  .header__menu-link_active::after {
    width: 10px;
    height: 24px;
    background-size: 10px 24px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__menu-link_active::before {
    top: 7px;
    left: -10px;
  }

  .header__menu-link_active::after {
    top: 7px;
    right: -10px;
  }
}
