.feedback__link {
  color: var(--black);
  background-color: transparent;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 25px;
  border-bottom: 1px solid var(--black);
  border-left: 1px solid var(--black);
  font-family: "FormularLight";
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: normal;
  padding-right: 8px;
  background-image: linear-gradient(var(--black), var(--black));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s, color;
}
.feedback__link:hover {
  cursor: pointer;
  background-size: 100% 100%;
  color: var(--white);
  transition: 0.5s;
}
.feedback__link:hover > .feedback__button {
  background-image: url("../../../img/icon_arrow-right_white.svg");
}
.feedback__link:active {
  transform: scale(1.1);
  transition: 0.5s;
}
