.footer__navigation {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 56px;
}
@media screen and (min-width: 1440px) {
  .footer__navigation {
    font-size: 14px;
    line-height: 17px;
    flex-basis: 545px;
    margin-bottom: 0;
    order: 4;
  }
}
