@import url(../vendor/normalize.css);
@import url(../vendor/fonts/FormularLight/formular-light.css);
@import url(../vendor/fonts/NeueMachinaRegular/PPNeueMachina-Regular.css);
@import url(../variables/variables.css);


.page {
  width: 100%;
  background-color: #ECEBE8;
  font-family: 'FormularLight', serif;
}

.page__container {
  max-width: 1440px;
}


.content {
  display: flex;
  flex-direction: column;
}



.transfer-donation {
  align-self:center;
  display: grid;
  grid-template-columns: minmax(366px, 629px);
  box-sizing: border-box;
  padding: 0 23px 24px;
}


@media screen and (min-width: 869px) {
  .transfer-donation {
    align-self: flex-end;
    display: grid;
    grid-template-columns: minmax(366px, 629px) minmax(366px, 600px);
    column-gap: 61px;
    padding: 24px 30px 81px;
  }
}


.transfer-donation__title {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0;
  padding-top: 14px;
}

@media screen and (min-width: 869px) {
  .transfer-donation__title {
    font-size: 56px;
    line-height: 56px;
    padding-top: 28px;
  }
}


.transfer-donation__paragraph {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0;
  padding: 24px 0 0 62px;
}


.transfer-donation__paragraph:first-of-type {
  padding-top: 27px;
}

@media screen and (min-width: 869px) {
  .transfer-donation__paragraph {
    font-size: 28px;
    line-height: 32px;
    /* or 114% */
    padding: 32px 0 0 62px;
    max-width: 537px;
  }

  .transfer-donation__paragraph:first-of-type {
    padding-top: 57px;
  }
}


.transfer-donation__note {
  position: relative;
  font-family: 'FormularLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  /* or 128% */
  font-feature-settings: 'ss01' on;
  color: #242424;
  margin: 0;
  margin-top: 61px;
  padding: 0 0 58px 28px;
  max-width: 345px;
}

.transfer-donation__note::before {
  position: absolute;
  top: -27px;
  left: 1px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/asterisk.svg);
}


@media screen and (min-width: 869px) {
  .transfer-donation__note {
    margin-top: 122px;
    margin-left: 32px;
  }
}


.transfer-donation__form {
  height: 524px;
  background: #FFFFFF;
}

@media screen and (min-width: 869px) {
  .transfer-donation__form {
    height: 630px;
  }
}




.about-donations {
  padding-top: 34px;
  padding-bottom: 73px;
}

@media screen and (min-width: 869px) {
  .about-donations {
    padding-top: 34px;
    padding-bottom: 146px;
  }
}


.about-donations__title-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 792px) {
  .about-donations__title-wrapper {
    flex-direction: row;
    align-items: flex-end
  }
}

@media screen and (min-width: 792px) {
  .about-donations__title-wrapper_in-reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}


.about-donations__picture {
  display: block;
  object-fit: cover;
  box-sizing: border-box;
  height: 200px;
  width: 414px;
  align-self: flex-end;
}

.about-donations__picture_position_right {
  padding-left: 24px;
}

.about-donations__picture_position_left {
  padding-right: 24px;
}


@media screen and (min-width: 792px) {
  .about-donations__picture {
    height: 300px;
    width: 54.17%;
    padding: 0;
  }
}


.about-donations__title {
  max-width: 359px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0;
  padding: 42px 24px 0;
}


@media screen and (min-width: 869px) {
  .about-donations__title {
    max-width: 485px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-donations__title_position_left {
    padding: 0 59px 5px 32px;
  }

  .about-donations__title_position_right {
    padding: 0 32px 5px 59px;
  }
}



.about-donations__card-wrapper {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
  column-gap: 47px;
  row-gap: 24px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 28px;
  padding-left: 85px;
  padding-right: 24px;
}


@media screen and (min-width: 869px) {
  .about-donations__card-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
    padding-top: 71px;
    padding-right: 32px;
    padding-left: 32px;
    row-gap: 72px;
  }
}


@media screen and (min-width: 1153px) {
  .about-donations__card-wrapper {
    row-gap: 119px;
  }
}


.about-donations__card {
  font-family: 'FormularLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  font-feature-settings: 'ss01' on;
  color: #242424;
}

@media screen and (min-width: 869px) {
  .about-donations__card {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: normal;
    letter-spacing: -0.01em;
    color: #242424;
  }
}



.accounting {
  padding-bottom: 100px;
}


@media screen and (min-width: 869px) {
  .accounting {
    padding-bottom: 204px;
  }
}


.accounting__title {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0;
  padding-top: 73px;
  padding-right: 24px;
  padding-left: 26px;
}


@media screen and (min-width: 869px) {
  .accounting__title {
    max-width: 873px;
    font-size: 36px;
    line-height: 38px;
    padding-top: 71px;
    padding-left: calc(268px - (1440px - 100vw)/2.45);
  }
}

@media screen and (min-width: 1440px) {
  .accounting__title {
    padding-left: 268px;
  }
}

.accounting__mail-link {
  color: inherit;
}
