.header__container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 32px 0 13px 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1440px) {
  .header__container {
    border-bottom: 1px solid var(--black);
  }
}
