.transfer-donation__title {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0;
  padding-top: 14px;
}


@media screen and (min-width: 869px) {
  .transfer-donation__title {
    font-size: 56px;
    line-height: 56px;
    padding-top: 28px;
  }
}
