.buttons-play {
    display: flex;
    padding: 0;
    margin: 30px 213px 0 86px;
    background-color: transparent;
    border: 1px solid #242424;
    border-left: transparent;
    border-top: transparent;
}
