.card__title {
  height: 230px;
  padding: 16px 46px 16px 16px;
  margin: 0;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  box-sizing: border-box;
  background-color: var(--accent);
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .card__title {
    height: 187px;
    padding: 24px 31px 24px 24px;
  }
}
