.play__sсhedule {
  padding: 0;
  margin: 31px 0 0 40px;
  margin-left: 7.5%;
  width: 60%;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  font-family: 'Neue Machina';
}

@media (min-width: 768px) and (max-width: 1440px) {
  .play__sсhedule {
    grid-area: play__sсhedule;
    margin-top: 212px;
    margin-left: 124px;
    max-width: 420px;

  }
}
