.feedback__button {
  height: 13px;
  width: 21px;
  margin-right: 4px;
  background-image: url("../../../img/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
