.slider__header {
  display: grid;
  justify-content: space-between;
  max-width: 768px;
  margin: 0 auto;
  grid-template-columns: minmax(127px, 341px) 170px;
  grid-template-rows: repeat(auto, 60px);

}

@media screen and (min-width: 768px) {
  .slider__header {
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: auto;
    align-items: center;
    padding-bottom: 55px;
  }
}

