.play__title {
  padding: 0;
  margin: 58px 67px 0 24px;
  max-width: 323px;
  font-weight: 400;
  font-size: 40px;
  font-family: 'Neue Machina';
  line-height: 40px;
}

@media (min-width: 321px) and (max-width: 1440px) {
  .play__title {
    grid-area: play__title;

  }
}
